@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: -apple-system, 'Inter', sans-serif;
  }
/* body p {
    font-size: large !important;
}

body button{
    font-size: large !important;
}

body div{
    font-size: large !important;
}

body a{
    font-size: large !important;
} */
/* 
.test{
    border: none;
} */